<h1>ANNIE BAE</h1>

<%= link_to  "About Me", about_path, method: :get %>
<%= link_to "Projects", projects_path, method: :get %>
<%= link_to "GitHub", github_path, method: :get %>
<%= link_to "Resume", resume_path, method: :get %>
<%= link_to "Photography", photography_path, method: :get %>