<!-- <div class="index-wrapper">

<div id="three-descriptions">
  <h3 id="caption">
    web developer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> amateur photographer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> matcha enthusiast
  </h3>
</div>


<div class="about-wrapper">
<table class="about-table">
  <tr>
    <td>
      <div id="myphoto">
        <%= image_tag 'annieface.jpg', :class => "myface" %>
      </div>
    </td>
    <td>
      <div class="about-me">
        <p>
          <em>"KISS: Keep it simple, stupid."</em><br>
          I am a firm believer in simplicity getting the job done. There's not enough time in the world to untangle your way through a complex problem (or site, in this case).
          I want to impact, learn, and contribute to the technology industry by creating communicative applications and making things look pretty.<br>
          [I am also a staunch supporter of the Oxford comma.]
        </p>
      </div>
    </td>
  </tr>
</table>
</div>

</div> -->


<div class="index-wrapper">

  <div id="three-descriptions">
  <h3 id="caption">
    web developer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> amateur photographer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> matcha enthusiast
  </h3>
</div>

  <div class="row">

    <div class="col-md-6">
        <div id="myphoto">
          <%= image_tag 'annieface.jpg', :class => "myface" %>
        </div>
    </div>

    <div class="col-md-6">
      <div class="about-me">
          <p>
            <em>"KISS: Keep it simple, stupid."</em><br>
            I am a firm believer in simplicity getting the job done. There's not enough time in the world to untangle your way through a complex problem (or site, in this case).
            I want to impact, learn, and contribute to the technology industry by creating communicative applications and making things look pretty.<br>
            [I am also a staunch supporter of the Oxford comma.]
          </p>
        </div>
    </div>

  </div>
</div>